html {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.delim {
    color: #ccc;
    padding: 0 2px;
    vertical-align: baseline;
    font-weight: bold;
}


.filtersContainer {
    float: left;
    width: 20%;

    ul.filtersListBox {
        list-style: none;
        color:#6e6e6e;

        .filterTitle {
            font-weight: bold;
        }

        label {
            font-size: 12px;
        }
    }
}

.resultsViewContainer {
    float: left;
    width: 60%;

    ul.recommendationsListBox  {
        list-style: none;

        li.card {
            padding: 5px .5%;
            position: relative;
            width: auto;
            border-bottom: 1px solid #ccc;

            .infoCol {
                float: left;
                padding: 0 .5%;
                width: 60%;

                .venueMeta {
                    .venueScore {
                        border-radius: 16px;
                        float: left;
                        font-size: 13px;
                        height: 32px;
                        line-height: 32px;
                        margin-right: 7px;
                        padding: 0;
                        top: 0;
                        width: 32px;
                        color: #fff;
                        text-align: center;
                        display: inline-block;
                    }
                    .venueAddressData {
                        color: #959b9e;
                        font-size: 11px;
                        line-height: 140%;
                        list-style-type: none;
                        padding: 1px 0 0 0;
                    }
                }
            }
            .photoCol {
                float: right;
                margin-left: 1%;
                position: relative;

                .photoContainer {
                    background: #ccc;
                }

                .photoContainer img {
                    height: 128px;
                    padding: 0;
                    width: 128px;
                }
            }
        }
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

